@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&display=swap');

/* Fondo de la página */
body {
    background-color: #F5EFE7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal */
.container {
    margin-top: 5%;
    width: 82%;
    display: flex;
    flex-direction: column; /* Acomoda los elementos en columna */
    align-items: center;
    max-width: 1200px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

/* Sección superior: título e imagen */
.top-section {
    display: flex;
    justify-content: space-between; /* Espacia el título y la imagen */
    align-items: center;
    width: 100%;
}

/* Sección de texto */
.text-section {
    width: 90%;
    text-align: justify;
    margin-top: 20px; /* Espaciado entre la imagen/título y el texto */
}

/* Estilo del título */
.text-title {
    flex: 1; /* Ocupa el espacio disponible */
    padding-left: 5%;
}

h1 {
    margin-top: 2%;
    color: #213555;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Halant', serif;
    text-align: left;
}
  
h2 {
    margin-top: 3%;
    color: #F95454;
    line-height: 2;
    font-size: 19px;
    font-weight: bold;
    text-align: left;
}

p {
    color: #213555;
    text-align: justify;
    font-size: 17px;
}
  

/* Sección de imagen */
.image-section {
    margin-right: 5%;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}

/* Imagen circular */
.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-image:hover {
    transform: scale(1.03); /* Efecto de zoom */
    box-shadow: 0 6px 10px rgba(255, 255, 255, 0.2); /* Sombra más pronunciada */
}
