/* Estilo global */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  /* Contenedor principal */
  .landing-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  /* Imagen de fondo */
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/images/Fondo.jpg') no-repeat center center/cover;
    z-index: -1;
  }
  
  /* Contenedor de contenido */
  .content-container {
    text-align: center;
    color: #000000;
    padding: 20px;
  }
  
  /* Imagen de perfil */
  .profile-image {
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
  }
  
  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Título */
  .landing-title {
    font-size: 2em;
    margin: 10px 0;
  }
  
  /* Descripción */
  .landing-description {
    font-size: 1.2em;
    margin: 10px 0 20px;
  }
  
  /* Botón de iniciar */
  .start-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .start-button:hover {
    background-color: #0056b3;
  }
  